html, body, ul, li, button{margin: 0;padding: 0;overflow:-moz-scrollbars-none;-ms-overflow-style:none;}
html, body{font-family: '方正综艺繁体';width: 100%;height: 100%;  overflow:-moz-scrollbars-none;}
button{font-family: '方正综艺繁体';outline: none;background-color: transparent;border: 0;cursor: pointer;			}
button:active{opacity: 0.7;-webkit-opacity: 0.7;-moz-opacity: 0.7;background-color: transparent;}
/*---------------------------------------------head+布局*/
.box_head{width: 100%;height: 66.5px;background-image:url(../img/head.jpg);background-repeat: no-repeat;background-size: 100%;-webkit-background-size: 100%;overflow: hidden;box-shadow: 0px 4px 5px rgba(0,0,0,0.5);position: fixed;z-index: 100;}
.box_head_time{width: 100%;height: 75px;overflow: hidden;position: fixed;z-index: 100; margin-top: 66.5px; background-color: rgba(0,151,30,0.2);}
.box_head_time>ul>li>select>option{background-color: rgba(0,151,30,0.2);}
.box_head_time>ul>li>select{padding: 0 5%; padding-right: 0px;-webkit-appearance:none; -moz-appearance: none;background-image: url("http://221.228.109.114:8083/manage/more/firefox_select_icon.png");background-repeat: no-repeat;background-position: calc(100% - 7px) 50%;background-size: 15% auto;}
button.box_head_back{height: 49.5px;width: 115.5px;background-image:url(../img/fanhui.png);background-repeat: no-repeat;background-size: cover;-webkit-background-size: cover;float: left;position: absolute;top: 11px;left: 34px;font-size: 20px;color: white;text-align: center;line-height: 45px;}
.box_head_title{font-size: 30px;color: #FFFFFF;margin-top: 20px;text-align: center;}
.box_body{position: fixed;top: 141.5px;bottom: 0;left: 0;right: 0;box-sizing: border-box;padding: 0px 35px 24px 35px;background-color: rgba(0,151,30,0.2);}
.box_body_border{position: relative;width: 100%;height: 100%;box-sizing: border-box;background-color: white;border: 6px solid #fd6506;border-radius: 30px; overflow-y:scroll;}
.box_body_border>ul{}
.box_body_tool_color{width: 93px;height: 47px;float: left;border: 1px black solid;border-radius: 25px;position: absolute;}
::-webkit-scrollbar{display: none;}
::-ms-scrollbar{display: none;}
::-ms-expand {display: none;}
/*---------------------------------------------body+布局*/
.box_head_time_code{background-image: url(../img/TestList.png); width: 32px; height: 33px; background-repeat: no-repeat;background-size: cover;-webkit-background-size: cover;position: absolute;top: 24px;left: 74.5px;}
.box_head_time>ul{width: 324px; height: 25px; color: #00971E; list-style: none; padding: 30px 0px 21px 118px}
.box_head_time>ul>li{float: left; width: 108px; height: 23.75px;  color: #00971E;}
.box_head_time>ul>li>select{background-color: transparent; border: 2px solid #00971E;border-radius: 10px; width: 66.5px; height: 23.75px; color: #00971E; }
.box_body_border_code{ margin: 29px 11px 22px 32px; float: left;background-image: url(../img/yuan.png); width: 38px; height: 38px; background-repeat: no-repeat;background-size: cover;-webkit-background-size: cover; line-height: 2.3; text-align: center; color: white;}
.box_body_border>ul>li{height: 90px; border-bottom:  2px solid #fd6506; list-style: none; overflow: hidden;}
.box_body_border>ul>li>p2>p{font-size: 20px; float: left; margin: 36px 0px 31px 0px; color: #00971E; width: 45%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.box_body_border>ul>li>p2>span{font-size: 20px; float: left; margin: 36px 0px 31px 0px; color: #00971E;}
.box_body_border>ul>li>p1{background-color: transparent;border: 2px solid #00971E; border-radius: 10px; width: 168px; height: 35px; float: right; margin: 25px 10px 0px 0px; font-size: 20px; text-align: center; line-height: 35px; color: #00971E; }
.box_body_border>ul>li>span{width: 200px;}
.box_body_border>ul>li>button{background-image: url(../img/baocun.png); width: 107px; height: 46px; background-repeat: no-repeat;background-size: cover;-webkit-background-size: cover; float: right; margin: 21px 0px 0px 0px; font-size: 20px; color: white; }


/*@-moz-document url-prefix("http"){
html&gt;scrollbar[orient="horizontal"]:not(:hover),*/
html&gt;scrollbar[orient="vertical"]:not(:hover){
-moz-appearance:none!important;
opacity:0!important;
min-width:1px!important;
max-width:1px!important;
}
