html, body, ul, li, button{margin: 0;padding: 0;}

html, body{font-family: '方正综艺繁体';width: 100%;height: 100%; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
button{font-family: '方正综艺繁体';outline: none;background-color: transparent;border: 0;cursor: pointer;}
button:active{opacity: 0.7;-webkit-opacity: 0.7;-moz-opacity: 0.7;background-color: transparent;}
a,button,input,optgroup,select,textarea {-webkit-tap-highlight-color:rgba(0,0,0,0);}
/*-------------------------head+布局--------------------*/
.box_head{width: 100%;height: 66.5px;background-image:url(../../images/paint/head.jpg);background-repeat: no-repeat;background-size: cover;-webkit-background-size: cover;overflow: hidden;box-shadow: 0px 4px 5px rgba(0,0,0,0.5);position: relative;z-index: 100; text-align: center; line-height: 30px;  min-width: 588px;}
a.box_head_location{width: 115.5px; height: 49.5px; display: block; position: absolute;top: 11px;left: 34px;}
button.box_head_back{height: 100%;width: 100%;background-image:url(../../images/paint/fanhui.png);background-repeat: no-repeat;background-size: cover;-webkit-background-size: cover; font-size: 20px;color: white;text-align: center;line-height: 45px;}
.box_head_title{font-size: 30px;color: #FFFFFF; display: inline-block;}
.box_body{position: static; height: 100%; box-sizing: border-box;padding: 24px 35px;background-color: rgba(0,151,30,0.2); min-width: 588px;}
.box_body_border{position: relative;width: 100%;height: 100%;box-sizing: border-box;background-color: white;border: 6px solid #fd6506;border-radius: 30px;overflow:hidden;}
.box_body_tool_color{width: 93px;height: 47px;float: left;border: 1px black solid;border-radius: 25px;position: absolute;}
/*------------------------工具栏---------------------*/
.top_tools_panel{position: absolute;top: 0;left: 0;right: 0;height: 106px;float: left;border-bottom: 2px solid  #fd6506;}
.top_tools_panel_left{position: absolute;border-right: 2px solid  #fd6506;height: 106px;}
.top_tools_panel_left_color{margin-top: 33.5px;margin-left: 39px;border-radius: 10px;overflow: hidden;float: left;width: 93px;}
.top_tools_panel_left_color>ul{list-style: none;}
.top_tools_panel_left_color>ul>li{width: 31px;height: 23.5px;float: left;}
.top_tools_panel_left_color>ul>li>button{width: 31px;height: 23.5px;}
#flag{height: 41px;  width:34.5px; background-size: 100%;-webkit-background-size: 100%; background-repeat: no-repeat;}
#rubber{height: 41px;  width:34.5px; background-size: 100%;-webkit-background-size: 100%; background-repeat: no-repeat;}
#rule{height: 41px; width:34.5px; background-size: 100%;-webkit-background-size: 100%; background-repeat: no-repeat;}
#protractor{height: 41px;  width:28px; background-size: 100%;-webkit-background-size: 100%; background-repeat: no-repeat;}
#rotate{height: 41px;  width:39px; background-size: 100%;-webkit-background-size: 100%; background-repeat: no-repeat;}
#cancle{height: 41px;  width:34.5px; background-size: 100%;-webkit-background-size: 100%; background-repeat: no-repeat;}
#flag.choosed{background-image: url(../../images/paint/ohuaban.png);}
#rubber.choosed{background-image: url(../../images/paint/oxiangpi.png);}
#rule.choosed{background-image: url(../../images/paint/ochizi.png);}
#protractor.choosed{background-image: url(../../images/paint/oyuangui.png);}
#rotate.choosed{background-image: url(../../images/paint/oxuanzhuan.png);}
#flag.nochoosed{background-image: url(../../images/paint/huaban1.png);}
#rubber.nochoosed{background-image: url(../../images/paint/xiangpi.png);}
#rule.nochoosed{background-image: url(../../images/paint/chizi.png);}
#protractor.nochoosed{background-image: url(../../images/paint/yuangui.png);}
#rotate.nochoosed{background-image: url(../../images/paint/xuanzhuan.png);}
#cancle.nochoosed{background-image: url(../../images/paint/cancle.png);}
.top_tools_panel_left_tool{margin-top: 0px;margin-bottom: 0px;float: left;height: 106px;}
.top_tools_panel_left_tool>ul{text-decoration: none;list-style-type:none; margin-top: 33.5px; margin-left: 10px;}
.top_tools_panel_left_tool>ul>li{margin-bottom: 0px; padding: 3px; float: left;	margin: 0px 10px 0px 10px;}
/*-------------------------功能栏--------------------*/
.box_body_function{width: 265px; height: 100%; display: inline;}
.right_tools_panel{position: absolute;top: 108px;right: -15px;bottom: 0;width: 160px;float: left;border-left: 2px solid  #fd6506; overflow-x: hidden; overflow-y:scroll; -ms-overflow-style:none;}
::-webkit-scrollbar{display: none;}
::-ms-expand {display: none;}
.top_tools_panel_right{overflow: auto; position: absolute; top: 0; right: 0px; bottom: 0; left: 505px; height: 106px;}
.tools_button>ul{width: 145px;overflow: hidden;}
.tools_button>ul>li{list-style-type:none; margin-bottom: 7px;float: left;}
.tools_button{margin: 10px 0px 2px 0px;}
.tools_button>button{background-image: url(../../images/paint/wenhao.png); width: 20px; height: 20px; background-size: cover;-webkit-background-size: cover; float: right; position: absolute; top: 5px; left: 120px; right: 0px; bottom: 0px;}
.tools_button>ul>li>button{height: 52.5px;width: 123px;font-size: 20px;color: white;text-align: center;line-height: 45px;background-repeat: no-repeat;background-size: 100%;-webkit-background-size: 100%;margin: 0px 0px 0px 9px;}
.tools_button>ul>li>button.choosed{background-image: url(../../images/paint/tubiaoo.png);}
.tools_button>ul>li>button.nochoosed{background-image: url(../../images/paint/tubiao.png);}
#value{height: 46px;width: 126.5px;border: 3px solid #129E15;border-radius: 15px;font-size: 20px;color: black;text-align: center;line-height: 46px;box-sizing: border-box;margin: 7px 5px 0px 10px;background-color: transparent;outline: none;padding: 0;}
input::-webkit-input-placeholder{font-size: 20px;color: black;line-height: 45px;}
button.right_tools_panel_Preservation{height: 45.5px;width: 130.5px;background-image:url(../../images/paint/tubiao1.png);background-repeat: no-repeat; background-size: 100%; -webkit-background-size: 100%; font-size: 20px;color: white;text-align: center;line-height: 45px;margin: 30px 0px 00px 9px;}
button.right_tools_panel_PreservationModify{height: 45.5px;width: 130.5px;background-image:url(../../images/paint/tubiao1.png);background-repeat: no-repeat; background-size: 100%; -webkit-background-size: 100%; font-size: 20px;color: white;text-align: center;line-height: 45px;}

/*----------------------------画板-----------------*/

/*----------------------------帮助弹窗-----------------*/
.popWindow {background-color:#000000; width: 100%; height: 100%; left: 0; top: 0; filter: alpha(opacity=50); opacity: 0.5; z-index: 1; position:fixed; display: none;box-sizing: border-box;}
.maskLayer { background-color:dimgray; width: 50%; height: 80%; position: absolute; line-height: 30px; left: 25%; color:#fff; z-index: 2; overflow:hidden; margin-top: 40px; box-sizing: border-box;text-align:center; border-radius: 20px; display: none;}
.maskLayer>button{height: 20%; cursor:pointer; font-size: 20px; cursor:pointer;text-decoration: none; color: white; background-image: url(../../images/paint/baocun.png);height: 49.5px;width: 115.5px; background-size: 100%;-webkit-background-size: 100%;}
.maskLayer>ul>li{float: left; width: 100%; font-size: 20px; list-style: none; text-align: left; line-height: 35px; text-indent: 2em;}
.maskLayer>ul{height: 80%; margin: 10px;}

/*---------------------其他------------------------*/
.popWindow {background-color:#000000; width: 100%; height: 100%; position:fixed; left: 0; top: 0; filter: alpha(opacity=50); opacity: 0.5; z-index: 1; display: none;}
#colorBlack{background-color: black;}
#colorBlue{background-color: dodgerblue;}
#colorGreen{background-color: limegreen;}
#colorPurple{background-color: darkviolet;}
#colorRed{background-color: red;}
#colorYellow{background-color: yellow;}
.center_canvas{position:absolute; top: 108px; left: 0; right:147px; bottom: 0; background-image: url(../../images/paint/noPaint.png); background-repeat: no-repeat; background-size: 100% 100%;}
.center_canvas_input{position: absolute; width: 280px;}
input#inputFlag{width: 120px; height: 30px; border: 2px solid green; outline: none; text-align: center; font-family: Arial; font-size: 20px; position: absolute;}
input#inputFlag.hidden{display: none;}
input#inputFlag.show{display: block;}
#myCanvas{background-color: white;}

